* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #292827;
  color: #0fafe0;
  overflow-x: hidden;
  animation: fadeIn 1s ease-in-out;
  background-image: url('images/wave.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0fafe0;
  box-shadow: 0 15px 10px rgba(13, 124, 175, 0.6);
}

header .logo {
  position: absolute;
  left: 20px;
}

header .logo img {
  height: 50px;
  animation: slideIn 1s ease-in-out;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #5936b9;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  transform: translateY(-10px);
  color: #e92939;
}

.intro {
  background-image: url('images/gura2.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  background-color: #5143a0;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
  animation: fadeInUp 1.5s ease-in-out;
  box-shadow: 0 15px 10px rgba(5, 34, 48, 0.6);
}

.intro h1 {
  font-size: 2.5rem;
  color: #1c3072;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  color: #1c3072;
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 40px auto;
  max-width: 1200px;
  animation: fadeInUp 2s ease-in-out;
}

.feature {
  background-color: #3840af;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  transition: transform 0.3s ease-in-out;
}

.feature:hover {
  transform: translateY(10px);
}

.feature h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.about h2, .about p {
  color: #1c3072;
  text-align: center;
}

.feature p {
  font-size: 1.1rem;
}

footer {
  background-color: #9bacdb;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #201e9c;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
      transform: translateX(-50px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.social-media-container {
  display: flex;
  justify-content: flex-start;
  align-items: row;
  gap: 15px;
  flex-wrap: nowrap;
  padding: 15px;
}

.social-media {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.social-media img {
  display: block;
  margin: 0 auto;
}

.social-media p {
  margin-top: 5px;
  font-weight: bold;
}

.social-media:hover {
  transform: translateY(-10px);
}

@media (min-width: 768px) {
  .social-media-container {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 767px) {
  .social-media-container {
      flex-direction: column;
  }
}
